MONGODB_URI=mongodb+srv://DB_USER:PASSWORD@cluster0.XXXXXXX.mongodb.net/bloglist?retryWrites=true&w=majority
TEST_MONGODB_URI=mongodb+srv://DB_USER:PASSWORD@cluster0.XXXXXXX.mongodb.net/testBloglist?retryWrites=true&w=majority
PORT=3003
SECRET=your_secret_key_here
